@media (min-width: 576px) {}

@media (min-width: 768px) {
    .menu {
        display: flex;
    }

    .nav-btn,
    .nav-menu {
        display: none;
    }

    .show {
        display: none !important;
    }

}

@media (min-width: 992px) {
    .header__links {
        display: flex;
        align-items: center;
    }

    .header-content__caption {
        max-width: 52rem;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}