@media (min-width: 450px) {
    .service {
        width: 30rem;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .menu {
        display: flex;
    }

    .nav-btn,
    .nav-menu {
        display: none;
    }

    .show {
        display: none !important;
    }

    .newsletter {
        flex-direction: row;
        align-items: center;
    }

    .newsletter__content {
        text-align: left;
        padding-right: 1rem;
    }

    .newsletter__title {
        max-width: none;
        margin: 0;
    }

}

@media (min-width: 992px) {
    .header__links {
        display: flex;
        align-items: center;
    }

    .header-content__caption {
        max-width: 52rem;
    }

    .header-content__title {
        font-size: 5rem;
        line-height: 6rem;
    }

}

@media (min-width: 1200px) {
    .header {
        min-height: 95vh;
    }

    .services {
        gap: 2rem;
    }

    .newsletter {
        padding: 2rem 4rem;
        justify-content: space-between;
    }

    .newsletter__banner {
        margin: 0;
    }


}

@media (min-width: 1400px) {
    .header-content {
        margin-top: 20rem;
    }

    .header-content__title {
        font-size: 8rem;
        line-height: 10rem;
    }

    .header-content__caption {
        font-size: 2.5rem;
    }

    .destinations__title {
        font-size: 3rem;
    }

    .btn.destinations__btn {
        width: 19rem;
        height: 5rem;
        line-height: 5rem;
    }

    .newsletter {
        padding: 3rem 6rem;
    }
}