@media (min-width: 450px) {
    .service {
        width: 30rem;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .menu {
        display: flex;
    }

    .nav-btn,
    .nav-menu {
        display: none;
    }

    .show {
        display: none !important;
    }

}

@media (min-width: 992px) {
    .header__links {
        display: flex;
        align-items: center;
    }

    .header-content__caption {
        max-width: 52rem;
    }

    .header-content__title {
        font-size: 5rem;
        line-height: 6rem;
    }

}

@media (min-width: 1200px) {
    .header {
        min-height: 95vh;
    }

    .services {
        gap: 2rem;
    }
}

@media (min-width: 1400px) {
    .header-content {
        margin-top: 20rem;
    }

    .header-content__title {
        font-size: 8rem;
        line-height: 10rem;
    }

    .header-content__caption {
        font-size: 2.5rem;
    }

    .destinations__title {
        font-size: 3rem;
    }

    .btn.destinations__btn {
        width: 19rem;
        height: 5rem;
        line-height: 5rem;
    }
}